---
current_page: "charity"
---

<%
  core = [];
  monthly = [];
%>

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Employees' />
  <meta property="og:image" content='http://madtreebrewing.com/images/map.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/employees.html'/>
  <meta property="og:description" content='Meet the employees of MadTree Brewing.' />
  <meta name="description" content='Meet the employees of MadTree Brewing.' />
<% end %>

<% data.charity.each do |charity| %>
  <% core << charity if charity.type == "core" %>
  <% monthly << charity if charity.type == "monthly" %>
<% end %>

<% content_for :page_classes do %>
  interior charity
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer', locals: { current_page: 'limited' } %>
<% end %>

<div class="charity-container">
  <header class="charity-header">
    <h2>Community Partners</h2>
    <p class="intro">
      In an effort to make more of an impact in our community, MadTree is excited to partner with the above non-profits. These organizations collectively represent our philanthropic interests. This is a diverse group doing standout work. Our investment in them is a commitment to becoming an integral part of the community; a goal at the heart of our mission.
    </p>
    <p class="intro">
      We strive to be a company not only respected for producing quality craft beer that competes at a national level but also a top employer and pillar of the community. We feel that our charitable involvements, giving back to our community, are part of the recipe for success. We're more than a brewery. We're MadTree.
    </p>
  </header>

  <section class="core-partners">
    <h3>Core Partners</h3>
    <div class="core-content">
      <% core.each do |charity| %>
        <div class="core-partner">
          <%= link_to image_tag(charity.image), charity.url, class: "core-image" %>
          <p><%= charity.description %></p>
          <%= link_to "Donate Now", charity.url, class: "btn" %>
        </div> <!-- /core-partner -->
      <% end %>
    </div>
  </section> <!-- /core-partners -->

  <hr />

  <section class="monthly-partners">
    <div class="current-and-next">
      <h3>February Partner</h3>
      <div class="current-partner">
        <%= image_tag(monthly[1].image) %>
      </div> <!-- /current-partner -->
      <h3>On Deck</h3>
      <div class="on-deck">
        <%= image_tag(monthly.last.image) %>
      </div> <!-- /on-deck -->
    </div> <!-- /current-and-next -->
    <div class="previous-partners">
      <h3>Previous Monthly Partners</h3>
      <div class="previous-content">
        <div class="monthly-partner">
          <%= image_tag(monthly.first.image) %>
          <h5>January</h5>
          <h4 class="money">$10,341</h4>
        </div> <!-- /monthly-partner -->
      </div>
    </div> <!-- /previous-partners -->
  </section> <!-- /monthly-partners -->
</div>
