<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>MadTree Brewing</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= stylesheet_link_tag "normalize", "screen" %>
    <%= javascript_include_tag  "all" %>

    <script type="text/javascript" src="//use.typekit.net/sfl3ims.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
  
<body class="<%= page_classes %>">
  <div class="wrapper">
  <header class="site-header">
    <section class="header-content">
      
      <%= link_to image_tag("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", alt: 'MadTree Brewing', class: 'logo'), '/', class: 'brand' %>
      <nav class="site-nav">
        <div class="hours-social">
          <p class="hours">TAP ROOM HOURS: <span class="time">M&ndash;F 11am &ndash; 7pm SAT 11am &ndash; 9pm SUN 1pm &ndash; 5pm</span></p>
          <ul class="social">
            <li><%= link_to '<i class="icon-twitter"></i>', '#' %></li>
            <li><%= link_to '<i class="icon-facebook"></i>', '#' %></li>
          </ul>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <%= link_to "Beer", "/beer/happy-amber" %>
          </li>
          <li class="nav-item">
            <%= link_to "Taproom", "/taproom/" %>
          </li>
          <li class="nav-item">
            <%= link_to "Community", "/community/brady-duncan" %>
          </li>
        </ul> <!-- /nav-list -->
      </nav> <!-- /site-nav -->
    </section> <!-- /header-content -->
  </header> <!-- /site-header -->
    <section class="main-content" role="main">
      <div class="main-container">
        <%= yield %>
      </div>
    </section> <!-- /main -->

  <footer class="site-footer">
    <section class="footer-content">
      <p class="copyright">&copy; Copyright <%= copyright_years('2013') %> MadTree Brewing Co.</p> 
    </section> <!-- /footer-content -->
  </footer> <!-- /site-footer -->
  </div> <!-- /wrapper -->
<script>
$(document).foundation();
</script>
</body>
</html>
