<header class="bonanza-header">
  <h1>Madtree Brewing, 3301 Madison Road</h1>
  <nav class="bonanza-nav">
    <ul>
      <li><%= link_to "BLOG", "#blog" %></li>
      <li><%= link_to "MAILING LIST", "#mailinglist" %></li>
      <li><%= link_to "SPONSORS", "#sponsors" %></li>
    </ul>
  </nav> <!-- /bonanza-nav -->
</header>

<div class="bonanza-main">
  <section class="details">
    <p>
      MadTree Brewing is constructing a new $18M production brewery, taproom, and event center in the former RockTenn building, an obsolete brownfield manufacturing facility. This project helps serve as an anchor for the Oakley business district while bringing new jobs into the City of Cincinnati and Oakley neighborhood. 
    </p>

    <p>
      It is extremely important for MadTree to remain connected to the city and neighborhoods that have supported us since day one. This is where we all live, work, and play, and we are proud to be a partner supporting the community.
    </p>

    <p>
      The expansion was driven by demand for MadTree beers in fewer than three years of existence. The plans call for installation of a new American-made W.M. Sprinkman Corp. 100 barrel brewhouse, an expanded quality laboratory, a much larger taproom featuring 64 taps and a 10,000 square foot outdoor beer garden, an expanded Catch-A-Fire Café, two private event spaces, and office space for staff.
    </p>

    <p>
      Construction will continue throughout 2016 with opening targeted for Winter 2016/2017. Check back here regularly for updates on the project.
    </p>
  </section> <!-- /details -->

  <section id="blog">
    <header class="section-header">
      <h3>Construction Updates</h3>
    </header>
    <script type='text/javascript' src='http://madtreeconstruction.tumblr.com/js'></script>
  </section><!-- /blog -->

  <section id="mailinglist">
    <header class="section-header">
      <h3>Newsletter Signup</h3>
      <p>
      Suspendisse facilisis bibendum semper. Vivamus. Curabitur imperdiet dictum blandit. Morbi.
      </p>
    </header> <!-- /section-header -->
  </section> <!-- /bands -->
  <section id="sponsors">
    <header class="section-header">
      <h3>Sponsors</h3>
    </header> <!-- /section-header -->
    <section class="sponsors">
      <ul>
        <li class="neyer">
          <%= image_tag "construction/neyer.png" %>
        </li>
        <li class="oakley">
          <%= image_tag "construction/oakley.png" %>
        </li>
        <li class="cincinnati">
          <%= image_tag "construction/cincinnati.png" %>
        </li>
        <li class="redi">
          <%= image_tag "construction/redi.png" %>
        </li>
        <li class="dsg">
          <%= image_tag "construction/dsg.png" %>
        </li>
        <li class="chase">
          <%= image_tag "construction/chase.png" %>
        </li>
        <li class="jobsohio">
          <%= image_tag "construction/jobsohio.png" %>
        </li>
      </ul>
    </section>
  </section> <!-- /bands -->
</div> <!-- /bonanza-main -->



