<header class="bonanza-header">
  <h1>Madtree Brewing, 3301 Madison Road</h1>
</header>

<div class="bonanza-main">
  <section class="details">
    <p>
      MadTree Brewing is constructing a new $18M production brewery, taproom, and event center in the former RockTenn building, an obsolete brownfield manufacturing facility. This project helps serve as an anchor for the Oakley business district while bringing new jobs into the City of Cincinnati and Oakley neighborhood. 
    </p>

    <p>
      It is extremely important for MadTree to remain connected to the city and neighborhoods that have supported us since day one. This is where we all live, work, and play, and we are proud to be a partner supporting the community.
    </p>

    <p>
      The expansion was driven by demand for MadTree beers in fewer than three years of existence. The plans call for installation of a new American-made W.M. Sprinkman Corp. 100 barrel brewhouse, an expanded quality laboratory, a much larger taproom featuring 64 taps and a 10,000 square foot outdoor beer garden, an expanded Catch-A-Fire Café, two private event spaces, and office space for staff.
    </p>

    <p>
      Construction will continue throughout 2016 with opening targeted for Winter 2016/2017. Check back here regularly for updates on the project.
    </p>

    <p class="btn-container">
      <%= link_to "View our blog for updates", "http://madtreeconstruction.tumblr.com", class: "btn btn-default" %>
    </p>
  </section> <!-- /details -->

  <div class="mailing-partners">
    <section id="mailinglist">
      <div id="mc_embed_signup">
        <form action="//madtreebrewing.us10.list-manage.com/subscribe/post?u=907672076387a28aa464c3c48&amp;id=3bf643be1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h4>Subscribe to our mailing list</h4>
            <div class="input-group">
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
              <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default">
              </span> <!-- /input-group-btn -->
            </div><!-- /input-group -->
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_907672076387a28aa464c3c48_3bf643be1f" tabindex="-1" value=""></div>
            <div class="clear"></div>
          </div>
        </form>
      </div>
    </section> <!-- /bands -->
    <section class="partners">
      <header class="section-header">
        <h4>Partners</h4>
      </header> <!-- /section-header -->
      <section>
        <ul class="first">
          <li class="neyer">
            <%= image_tag "construction/neyer.png" %>
          </li>
          <li class="oakley">
            <%= image_tag "construction/oakley.png" %>
          </li>
          <li class="cincinnati">
            <%= image_tag "construction/cincinnati.png" %>
          </li>
          <li class="redi">
            <%= image_tag "construction/redi.png" %>
          </li>
          <li class="colliers">
            <%= image_tag "construction/colliers.png" %>
          </li>
        </ul>
        <ul class="second">
          <li class="dsg">
            <%= image_tag "construction/dsg.png" %>
          </li>
          <li class="chase">
            <%= image_tag "construction/chase.png" %>
          </li>
          <li class="jobsohio">
            <%= image_tag "construction/jobsohio.png" %>
          </li>
          <li class="hcdc">
            <%= image_tag "construction/hcdc.png" %>
          </li>
        </ul>
      </section>
    </section> <!-- /bands -->
  </div>

</div> <!-- /bonanza-main -->



