<section class="footer-content">
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Beer</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Psychopathy", "/beers/psychopathy.html" %></li>
        <li><%= link_to "Gnarly Brown", "/beers/gnarly-brown.html" %></li>
        <li><%= link_to "Happy Amber", "/beers/happy-amber.html" %></li>
        <li><%= link_to "Identity Crisis", "/beers/identity-crisis.html" %></li>
        <li><%= link_to "Axis Mundi", "/beers/axis-mundi.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Community</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Employees", "/community/" %></li>
        <li><%= link_to "Artists", "/community/artists.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Connect</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body address">
      <ul>
        <li>
          <strong>Phone</strong>: 513.836.8733 
        </li>
        <li>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </li>
        <li>
        <ul class="social-links">
          <li class="facebook"><%= link_to "<i class='icon-facebook'></i>", "http://facebook.com/madtree" %></li>
          <li class="foursquare"><%= link_to "<i class='icon-foursquare'></i>", "http://4sq.com/T31jg0" %></li>
          <li class="twitter"><%= link_to "<i class='icon-twitter'></i>", "http://twitter.com/madtreebrewing/" %></li>
        </ul> <!-- /social-links -->
        </li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
</section><!-- /footer-content -->

