<section class="footer-content">
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Beer</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
        <li><%= link_to "Taproom", "#" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Community</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Founders", "#" %></li>
        <li><%= link_to "Artists", "#" %></li>
        <li><%= link_to "Partners", "#" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Connect</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li>
          <strong>Phone</strong>: 513.836.8733 
        </li>
        <li>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </li>
        <li>
        <ul class="social-links">
          <li class="facebook"><%= link_to "Facebook", "#" %></li>
          <li class="foursquare"><%= link_to "Foursquare", "#" %></li>
          <li class="google"><%= link_to "Google", "#" %></li>
          <li class="twitter"><%= link_to "Twitter", "#" %></li>
          <li class="yelp"><%= link_to "Yelp", "#" %></li>
        </ul> <!-- /social-links -->
        </li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
</section><!-- /footer-content -->

