<section class="footer-content">
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Beer</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Happy Amber", "/beer/happy-amber" %></li>
        <li><%= link_to "Psyc<strong>HOP</strong>athy IPA", "/beer/psychopathy" %></li>
        <li><%= link_to "Gnarly Brown", "/beer/gnarly-brown" %></li>
        <li><%= link_to "Identity Crisis", "/beer/identity-crisis" %></li>
        <li><%= link_to "Axis Mundi", "/beer/axis-mundi" %></li>
        <li><%= link_to "Lift", "/beer/lift" %></li>
        <li><%= link_to "Galaxy High", "/beer/galaxy-high" %></li>
        <li><%= link_to "Limited Beers", "/beer/limited.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Community</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Employees", "/community/" %></li>
        <li><%= link_to "Artists", "/community/artists.html" %></li>
        <li><%= link_to "Videos", "/community/videos.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Connect</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body address">
      <ul>
        <li>
          <strong>Phone</strong>: 513.836.8733
        </li>
        <li>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </li>
        <li>
        <ul class="social-links">
          <li class="facebook"><%= link_to "<i class='icon-facebook'></i>", "http://facebook.com/madtree" %></li>
          <li class="twitter"><%= link_to "<i class='icon-twitter'></i>", "http://twitter.com/madtreebrewing/" %></li>
          <li class="instagram"><%= link_to "<i class='icon-instagram'></i>", "http://instagram.com/madtreebrewing/" %></li>
          <li class="untappd"><%= link_to "<i class='ico-untappd'></i>", "https://untappd.com/Madtree" %></li>
        </ul> <!-- /social-links -->
        </li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
</section><!-- /footer-content -->

