<section class="footer-content">
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Beer</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Happy Amber", "/beer/happy-amber" %></li>
        <li><%= link_to "Psyc<strong>HOP</strong>athy IPA", "/beer/psychopathy" %></li>
        <li><%= link_to "Identity Crisis", "/beer/identity-crisis" %></li>
        <li><%= link_to "Axis Mundi", "/beer/axis-mundi" %></li>
        <li><%= link_to "Lift", "/beer/lift" %></li>
        <li><%= link_to "Galaxy High", "/beer/galaxy-high" %></li>
        <li><%= link_to "Limited", "/beer/limited.html" %></li>
        <li><%= link_to "Limited Seasonals", "/beer/limited-seasonals.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Community</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Community Partners", "/community/" %></li>
        <li><%= link_to "Employees", "/community/employees.html" %></li>
        <li><%= link_to "Artists", "/community/artists.html" %></li>
        <li><%= link_to "Videos", "/community/videos.html" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
  <section class="footer-nav-item">
    <header class="nav-item-header">
      <h4>Connect</h4>
    </header> <!-- /nav-item-header -->
    <div class="nav-item-body">
      <ul>
        <li><%= link_to "Assets", "/assets/" %></li>
        <li><%= link_to "Events", "/events/" %></li>
        <li><%= link_to "Jobs", "/jobs/" %></li>
      </ul>
    </div> <!-- /nav-item-body -->
    <div class="nav-item-body address">
      <ul>
        <li>
          <strong>Phone</strong>: 513.836.8733
        </li>
        <li>
          <strong><%= mail_to "feedback@madtreebrewing.com", "Email Feedback" %></strong><br>
          <strong><%= mail_to "mailto:docksales@madtreebrewing.com", "Email Keg/Dock Sales" %></strong><br>
          <strong><%= mail_to "mailto:sales@madtreebrewing.com", "Email Outside Sales" %></strong><br>
          <strong><%= mail_to "mailto:taproom@madtreebrewing.com", "Email Taproom" %></strong><br>
        </li>
        <li>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </li>
        <li>
        <ul class="social-links">
          <li class="facebook"><%= link_to "<i class='icon-facebook'></i>", "http://facebook.com/madtree" %></li>
          <li class="twitter"><%= link_to "<i class='icon-twitter'></i>", "http://twitter.com/madtreebrewing/" %></li>
          <li class="instagram"><%= link_to "<i class='icon-instagram'></i>", "http://instagram.com/madtreebrewing/" %></li>
          <li class="untappd-link"><%= link_to "<i class='ico-untappd'></i>", "http://untappd.com/Madtree" %></li>
          <li class="google-plus"><%= link_to"<i class='icon-google-plus-sign'></i>", "https://plus.google.com/102275175948954543807/about" %></li>
        </ul> <!-- /social-links -->
        </li>
      </ul>
    </div> <!-- /nav-item-body -->
  </section> <!-- /footer-nav-item -->
</section><!-- /footer-content -->

