<div class="header-hero">
  <div class="hero-content">
    <%= link_to "MadTree Brewing Company", "#", class: "logo" %>
    <nav class="top-beer-nav">
      <ul class="beer-cans">
        <li class="gnarly-brown"><%= link_to "Gnarly Brown", "beer/gnarly-brown" %></li>
        <li class="happy-amber"><%= link_to "Happy Amber", "beer/happy-amber" %></li>
        <li class="lift"><%= link_to "Lift", "beer/lift" %></li>
        <li class="psychopathy"><%= link_to "Psychopathy", "beer/psychopathy" %></li>
      </ul> <!-- /beer-cans -->
    </nav> <!-- /top-beer-nav -->
  </div> <!-- /hero-content -->
</div> <!-- /header-hero -->

