<section class="header-toolbar">
  <div class="taproom-hours">
    Tap Room Hours:
    <span class="day">
      M&ndash;F 11am&ndash;7pm
    </span> <!-- /day -->
    <span class="day">
      SAT 11am&ndash;7pm
    </span> <!-- /day -->
    <span class="day">
      SUN 11am&ndash;7pm
    </span> <!-- /day -->
  </div> <!-- /tapoom-hours -->

  <ul class="social-links">
    <li class="facebook"><%= link_to "Facebook", "#" %></li>
    <li class="foursquare"><%= link_to "Foursquare", "#" %></li>
    <li class="google"><%= link_to "Google", "#" %></li>
    <li class="twitter"><%= link_to "Twitter", "#" %></li>
    <li class="yelp"><%= link_to "Yelp", "#" %></li>
  </ul> <!-- /social-links -->
</section> <!-- /header-toolbar -->
