<div class="header-hero">
  <div class="hero-content">
    <%= link_to "MadTree Brewing Company", "#", class: "logo" %>
    <nav class="top-beer-nav">
      <ul class="beer-cans">
        <li class="gnarly-brown"><%= link_to "Gnarly Brown", "beers/gnarly-brown.html" %></li>
        <li class="happy-amber"><%= link_to "Happy Amber", "beers/happy-amber.html" %></li>
        <li class="lift"><%= link_to "Lift", "beers/lift.html" %></li>
        <li class="psychopathy"><%= link_to "Psychopathy", "beers/psychopathy.html" %></li>
      </ul> <!-- /beer-cans -->
    </nav> <!-- /top-beer-nav -->
  </div> <!-- /hero-content -->
</div> <!-- /header-hero -->

