<section class="header-toolbar">
  <div class="toolbar-content">
    <div class="taproom-hours">
      <% hours = data.hours.details %>
      <span class="more-text">Tap Room Hours:</span>
      <% hours.each do |hours| %>
        <% unless hours.last == "" %>
          <%= content_tag :span, "<strong>#{hours.first[0]}</strong> #{hours.last}", class: "day" %>
        <% end %>
      <% end %>
    </div> <!-- /tapoom-hours -->

    <nav class="social-nav">
      <ul class="social-links">
        <li class="facebook"><%= link_to "Facebook", "http://facebook.com/madtree/" %></li>
        <li class="untappd"><%= link_to "Untappd", "https://untappd.com/Madtree" %></li>
        <li class="twitter"><%= link_to "Twitter", "http://twitter.com/madtreebrewing" %></li>
        <li class="yelp"><%= link_to "Yelp", "http://www.yelp.com/biz/madtree-brewing-cincinnati-2" %></li>
      </ul> <!-- /social-links -->
    </nav> <!-- /social-nav -->
  </div> <!-- /toolbar-content -->
</section> <!-- /header-toolbar -->
