<nav class="navbar">
  <%= link_to "<i class='icon-reorder'></i>", "#", class: "nav-toggle" %>
  <div class="navbar-inner">
    <%= link_to "MadTree Brewing Company", "/", class: "logo" %>
    <ul class="main-nav">
      <%= content_tag :li, link_to("Beers", "../beers/happy-amber.html", data: { children: "beer" }), class: "active"  %>
      <%= content_tag :li, link_to("News &amp; Events", "#") %>
      <%= content_tag :li, link_to("Taproom", "#") %>
      <%= content_tag :li, link_to("Community", "../community/") %>
    </ul> <!-- /main-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->

