<nav class="navbar">
  <%= link_to "<i class='icon-reorder'></i>", "#", class: "nav-toggle" %>
  <div class="navbar-inner">
    <ul class="main-nav gone">
      <%= content_tag :li, link_to("Beers", "../beer/happy-amber") %>
      <%= content_tag :li, link_to("Taproom", "../taproom/", class: "taproom-nav-item") %>
      <%= content_tag :li, link_to("Community", "../community/") %>
      <%= content_tag :li, link_to("Store", "http://shop.madtreebrewing.com/") %>
    </ul> <!-- /main-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->
