<nav class="navbar section-navbar" data-group="beer">
  <div class="navbar-inner">
    <ul class="section-nav">
      <% sub_page = data.page.sub_page %>
      <%= content_tag :li, link_to("Happy Amber", "/beers/happy-amber.html"), class: (sub_page == "happy-amber" ? "active" : "") %>
      <%= content_tag :li, link_to("Psychopathy", "/beers/psychopathy.html"), class: (sub_page == "psychopathy" ? "active" : "") %>
      <%= content_tag :li, link_to("Gnarly Brown", "/beers/gnarly-brown.html"), class: (sub_page == "gnarly-brown" ? "active" : "") %>
      <%= content_tag :li, link_to("Identity Crisis", "/beers/identity-crisis.html"), class: (sub_page == "identity-crisis" ? "active" : "") %>
      <%= content_tag :li, link_to("Axis Mundi", "/beers/axis-mundi.html"), class: (sub_page == "axis-mundi" ? "active" : "") %>
      <% limited_releases = ["batch-one", "flight-of-simcoe", "pleasant-wheat", "sprye", "wheat-eater"] %>
      <li class="dropdown seasonal-beers <%= 'active' if limited_releases.include? sub_page %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Limited Releases <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <%= content_tag :li, link_to("Batch One", "/beers/batch-one.html"), class: (sub_page == "batch-one" ? "active" : "") %>
          <%= content_tag :li, link_to("Flight of Simcoe", "/beers/flight-of-simcoe.html"), class: (sub_page == "flight-of-simcoe" ? "active" : "") %>
          <%= content_tag :li, link_to("Pleasant Wheat", "/beers/pleasant-wheat.html"), class: (sub_page == "pleasant-wheat" ? "active" : "") %>
          <%= content_tag :li, link_to("Sprye", "/beers/sprye.html"), class: (sub_page == "sprye" ? "active" : "") %>
          <%= content_tag :li, link_to("Wheat Eater", "/beers/wheat-eater.html"), class: (sub_page == "wheat-eater" ? "active" : "") %>
        </ul> <!-- /dropdown-menu -->
      </li> <!-- /Limited Releases -->      
    </ul> <!-- /section-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->

