<%
  regular = [];
  limited = [];
  seasonal = [];
%>
<% data.beers.each do |beer| %>
  <% regular << beer if beer.availability == "regular" %>
  <% limited << beer if beer.availability == "limited" %>
  <% seasonal << beer if beer.availability == "seasonal" %>
<% end %>

<nav class="navbar section-navbar" data-group="beer">
  <div class="navbar-inner">
    <ul class="section-nav">
      <% sub_page = current_page  %>
      <% regular.each do |beer| %>
        <%= content_tag :li, link_to(beer.name, "/beer/#{beer.url}"), class: (sub_page == beer.url ? "active" : "") %>
      <% end %>
      <li class="dropdown seasonal-beers <%= 'active' if limited.include? sub_page %>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Limited Year-Round <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% limited.each do |beer| %>
            <%= content_tag :li, link_to(beer.name, "/beer/#{beer.url}"), class: (sub_page == beer.url ? "active" : "") %>
          <% end %>
        </ul>
      </li> <!-- /limited-year-round -->
      <li class="dropdown seasonal-beers <%= 'active' if seasonal.include? sub_page %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seasonals <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% seasonal.each do |beer| %>
            <%= content_tag :li, link_to(beer.name, "/beer/#{beer.url}"), class: (sub_page == beer.url ? "active" : "") %>
          <% end %>
        </ul> <!-- /dropdown-menu -->
      </li> <!-- /Limited Releases -->
    </ul> <!-- /section-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->

