---
current_page: "beers"
sub_page: "happy-amber"
---
<% content_for :page_classes do %>
  interior happy-amber
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/img-happy-amber-combined-rev.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/happy-amber/img-pint.png" %>
        </div>
        <h2>Happy Amber</h2>
      </header> <!-- /beer-detail-header -->
      <p>This dry-hopped ale combines carmel and biscuit malt flavors in happy equilibrium with late addition American hops. The approachable balance is intentional although the name is "hoppy accident."</p>
      <p>
        <%= link_to "<i class='icon-beaker'></i> Download the Recipe", "/recipes/happyAmberRecipe.pdf" %>
      </p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">6.0%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">30</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">Malts 2-Row, Munich 10L, Melanoidin, Carmel 80L, Victory</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Chinook</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>
