---
current_page: "beers"
---
<%
  beer_name = beer.name
  beer_series = beer.series
  beer_url = beer.url
  beer_description = beer.description
  beer_image = beer.image || ""
  beer_illustration = ""
  beer_recipe = beer.recipe || ""
  abv = beer.abv
  ibu = beer.ibu
  malts = beer.malts
  hops = beer.hops
  adjuncts = beer.adjuncts
  recipe = beer.recipe
%>

<% content_for :page_classes do %>
  interior beers <%= beer_url %>
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer', locals: { current_page: beer_url } %>
<% end %>


<div class="container">
  <section class="beer-description <%= 'with-image' if beer_image != "" %>">
    <% if beer_image != "" %>
      <div class="beer-images">
        <%=image_tag(beer_image) %>
      </div> <!-- /beer-images -->
    <% end %>
    <div class="beer-details">
      <div class="beer-details-text">
        <header class="beer-detail-header">
          <h2><%= beer_name %></h2>
          <%= content_tag :span, beer_series, class: "chef-series" if beer_series %>
        </header> <!-- /beer-detail-header -->
        <p><%= beer_description %></p>
        <p><%= (beer_recipe != "") ? link_to("<i class='icon-beaker'></i> Download the recipe", "/recipes/#{beer_recipe}") : link_to("<i class='icon-beaker'></i> Email us for the recipe", "mailto:recipes@madtreebrewing.com") %>
      </div> <!-- /beer-details-text -->
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount"><%= abv %></td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount"><%= ibu %></td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients"><%= malts %></td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops"><%= hops %></td>
        </tr>
        <% unless adjuncts == "" %>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients hops"><%= adjuncts %></td>
        </tr>
        <% end %>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>
