---
current_page: "taproom"
---
<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<section class="taproom-info">
  <section class="taproom-location">
    <div id="taproom-map" class="taproom-map">
    </div>

    <div class="taproom-address-phone">
      <section class="address-phone">
        <div class="address">
          <h5><i class="icon-map-marker"></i> Address</h5>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </div> <!-- /address -->
        <div class="phone">
          <h5><i class="icon-phone"></i> Phone</h5>
          <p>513-836-8733</p>
        </div> <!-- /phone -->
      </section> <!-- /address-phone -->
    </div> <!-- /taproom-address -->
  </section> <!-- /taproom-location -->
  <section class="taproom-about">
    <header class="taproom-about-header">
      <h2>The MadTree Taproom</h2>
    </header> <!-- /taproom-about-header -->
    <div class="taproom-about-body">
      <%= data.taproom.details.first.intro %>
      <h3>What's on tap?</h3>
      <ul class="tap-list">
      <% data.taproom.ontap.each do |tap| %>
        <li>
        <a href="<%= tap.downcase.tr(" ", "-") %>">
        <%= image_tag "beers/psychopathy/img-pint.png" %>
        <%= tap %>
        </a>
        </li>
      <% end %>
      </ul>
      <h3>Did somebody say tours?</h3>
      <%= data.taproom.details.first.tours %>
      <h3>Taproom Hours</h3>
      <table class="table table-striped">
        <tbody>
          <% hours = data.hours.details %>
          <% hours.each do |hours| %>
            <% unless hours.last == "" %>
              <%= content_tag :tr, "<th>#{hours.first}</th> <td>#{hours.last}</td>" %>
            <% end %>
          <% end %>
        </tbody>
      </table> <!-- /table-striped -->
    </div> <!--/taproom-about-body -->
  </section> <!-- /taproom-about -->
</section> <!-- /taproom-info -->
