---
current_page: "limited"
---

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<% content_for :page_classes do %>
  interior beers beer-limited
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer', locals: { current_page: 'limited-seasonal' } %>
<% end %>

<% beers = data.beers %>
<section class="limited-beers">
  <header class="limited-header">
    <div class="limited-bg"></div>
    <div class="limited-wrapper">
      <h2>Limited Seasonal Beers</h2>
    </div>
  </header> <!-- /limited-header -->
  <div class="limited-wrapper">
    <% beers.each do |beer| %>
      <% if beer.availability == "limited-seasonal" %>
        <div class="beer">
          <div class="beer-info">
            <header class="beer-header">
              <%= content_tag :h2, beer.name %>
            </header> <!-- /beer-header -->
            <div class="beer-description">
              <%= content_tag :p, beer.description %>
              <p><%= (beer.recipe != "") ? link_to("<i class='icon-beaker'></i> Download the recipe", "/recipes/#{beer.recipe}") : link_to("<i class='icon-beaker'></i> Email us for the recipe", "mailto:recipes@madtreebrewing.com") %>
            </div> <!-- /beer-description -->
          </div> <!-- /beer-info -->
          <table class="table beer-stats">
            <tr class="numbers">
              <th class="abv-label">
                ABV
              </th>
              <td class="abv-amount">
                <%= beer.abv %>
              </td>
              <th class="ibu-amount">
                IBU
              </th>
              <td class="ibu-amount">
                <%= beer.ibu %>
              </td>
            </tr>
            <tr>
              <th>Hops</th>
              <td class="ingredients" colspan="3">
                <%= beer.hops %>
              </td>
            </tr>
            <tr>
              <th>Malts</th>
              <td class="ingredients" colspan="3">
                <%= beer.malts %>
              </td>
            </tr>
            <% if beer.adjuncts != "" %>
              <tr>
                <th>Adjuncts</th>
                <td class="ingredients" colspan="3">
                  <%= beer.adjuncts %>
                </td>
              </tr>
            <% end %>
          </tr>
        </table> <!-- /beer-stats -->
      </div> <!-- /beer -->
    <% end %>
  <% end %>
</div>

</section> <!-- /limited-beers -->
