<% beer = locals[:beer] %>
<%= partial 'beer/nav' %>
<section class="content-area beer">
  <div class="content-area-image cans">
    <% if ["psychopathy", "happy-amber", "gnarly-brown"].include? beer[:url] %>
      <%= image_tag "beer/#{beer[:url]}/img-front-can.png", class: 'front-can can'  %>
      <%= image_tag "beer/#{beer[:url]}/img-back-can.png", class: 'back-can can' %>
    <% else %>
      <%= image_tag "beer/#{beer[:url]}/img-tap.png", class: 'tap'  %>
    <% end %>
  </div> <!-- /content-area-image -->
  <div class="content-area-body">
    <header class="content-body-header">
      <h2><%= beer[:name] %></h2>
    </header>
    <div class="content-body">
    <%= content_tag :p, beer[:description] %>
    <table class="beer-details">
      <tbody>
        <tr>
          <td>
            <strong>
              ABV
            </strong>
          </td>
          <td>
            <%= beer[:abv] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>IBU</strong>
          </td>
          <td>
            <%= beer[:ibu] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Malts</strong>
          </td>
          <td>
            <%= beer[:malts] %>
          </td>
        </tr>
        <tr>
          <td>
           <strong>Hops</strong>
          </td>
          <td>
            <%= beer[:hops] %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /beer-details -->
    </div>
  </div> <!-- /content-area-body -->
  <footer class="content-area-footer">
    <p class="beer-summary">
    <span class="tagline"><%= beer[:tagline] %></span> <span class="divider">&#124;</span> <span class="style"><%= beer[:style] %></span> <span class="divider">&#124;</span> <span class="abv"><%= beer[:abv] %> Alcohol By Volume</span>
    </p>
  </footer> <!-- /content-area-footer -->
</section> <!-- /beer -->
