<header class="bonanza-header">
  <%= image_tag "logos/summer-bonanza.png" %>
  <nav class="bonanza-nav">
    <ul>
      <li><%= link_to "Beer List", "#beers" %></li>
      <li><%= link_to "Bands", "#bands" %></li>
      <li><%= link_to "Food", "#food" %></li>
      <li><%= link_to "Map &amp; Parking", "#parking" %></li>
    </ul>
  </nav> <!-- /bonanza-nav -->
</header>

<div class="bonanza-main">
  <section class="details">
    <p class="intro">Save the Date! We are bringing the fun of the epic Winter Bonanza to the Summer! Stay tuned for more details on beers, bands, and food.</p>
    <p class="date-time">
      <time datetime="2015-08-29T12:00">August 29 at Noon</time>
      <span>&ndash;</span>
      <time datetime="2015-08-30T01:00">August 30 at 1a.m.</time>
    </p>
  </section> <!-- /details -->

  <section id="beers" class="beer-list">
    <section class="madtree-beers beers">
      <h4>Madtree Beers</h4>
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Psychopathy</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
    </section> <!-- /beers.madtree-beers -->
    <section class="guest-beers beers">
      <h4>Guest Beers</h4>
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
      <div class="beer">
        <h5>Guest Beer</h5>
        <p>Fusce rhoncus nibh quam, et. Fusce rhoncus nibh quam, et.</p>
      </div> <!-- /beer -->
    </section> <!-- /beers.guest-beers -->
  </section><!-- /beer-list -->
  <section id="bands" class="bands">
    <header class="section-header">
      <h3>Bands & DJs</h3>
      <p>All bands will be playing in the warehouse and all times are approximate.</p>
    </header> <!-- /section-header -->
    <section class="band-time">
      <h4>Bands</h4>
      <ul class="band-list">
        <li>
          <time>Noon</time>
          <p>Cody J. Martin</p>
        </li>
        <li>
          <time>2 p.m.</time>
          <p>46 Long</p>
        </li>
        <li>
          <time>4 p.m.</time>
          <p><%= link_to "Sweet and the Sweet Sweets", "https://www.facebook.com/cincinnatisweetsweetsweets" %></p>
        </li>
        <li>
          <time>5 p.m.</time>
          <p><%= link_to "Cereal Killers", "https://www.facebook.com/cerealkillerslive" %></p>
        </li>
        <li>
          <time>7 p.m.</time>
          <p><%= link_to "Founding Fathers", "https://www.facebook.com/FoundingfathersCincinnati" %></p>
        </li>
        <li>
          <time>8 p.m.</time>
          <p><%= link_to "DAAP Girls", "https://www.facebook.com/DAAPgirls" %></p>
        </li>
        <li>
          <time>10:30 p.m.</time>
          <p><%= link_to "The Almighty Get Down", "https://www.facebook.com/TheAlmightyGetDown" %></p>
        </li>
      </ul>
    </section> <!-- /band-time -->
    <section class="dj-time">
      <h4>DJs</h4>
      <ul class="band-list">
        <li>
          <time>Noon</time>
          <p><strong>Melvin Dillon</strong> &ndash; DJ Soul Step</p>
        </li>
        <li>
          <time>3 p.m.</time>
          <p><strong>David Corns</strong> &ndash; Sabastooge</p>
        </li>
        <li>
          <time>6 p.m.</time>
          <p><strong>Elizabeth Park</strong> &ndash; DJ Spam</p>
        </li>
        <li>
          <time>9 p.m.</time>
          <p><strong>Jackson Travis Rouse</strong> &ndash; Jackson</p>
        </li>
      </ul>
    </section>
  </section> <!-- /bands -->

  <section id="food" class="food">
    <header class="section-header">
      <h3>Food</h3>
    </header> <!-- /section-header -->
    <ul class="food-list">
      <li><%= link_to "Catch-a-Fire Pizza", "https://www.facebook.com/CatchaFirePizza" %></li>
      <li><%= link_to "C'est Cheese Food Truck", "https://www.facebook.com/CestCheeseCincy" %></li>
      <li><%= link_to "Red sesame korean BBQ/ Taco", "https://www.facebook.com/redsesamekoreanbbq" %></li>
      <li><%= link_to "Bones' Burgers", "https://www.facebook.com/pages/Bones-Burgers/205353236171290" %></li>                  
      <li><%= link_to "Street Pops", "https://www.facebook.com/streetpops" %></li>
    </ul>
  </section> <!-- /bands -->
  <section id="parking" class="parking-info">
    <header class="section-header">
      <h3>Map &amp; Parking</h3>
      <p>Please park at Fifth Third (5001 Kingsley Drive, 45227) or MedPace (5375 MedPace Way, 45227) and take the shuttle running from noon until 1am. There will be very limited parking at MadTree.</p>
    </header> <!-- /section-header -->
    <%= image_tag "bonanza/img-map.jpg" %>
  </section> <!-- /parking-info -->

</div> <!-- /bonanza-main -->


