<header class="bonanza-header">
  <%= image_tag "logos/winter-bonanza.png" %>
  <nav class="bonanza-nav">
    <ul>
      <li><%= link_to "Beer List", "#beers" %></li>
      <li><%= link_to "Bands", "#bands" %></li>
      <li><%= link_to "Food", "#food" %></li>
      <li><%= link_to "Map &amp; Parking", "#parking" %></li>
    </ul>
  </nav> <!-- /bonanza-nav -->
</header>

<div class="bonanza-main">
  <section class="details">
    <p class="intro">Thanks for celebrating with us and remember the Taproom opens at 4pm on Sunday.</p>
    <p class="date-time">
      <time datetime="2015-08-29T12:00">January 30th at Noon</time>
      <span>&ndash;</span>
      <time datetime="2015-08-30T01:00">Janury 31th at 1a.m.</time>
    </p>
  </section> <!-- /details -->

  <section id="beers" class="beer-list">
    <section class="madtree-beers beers">
      <h3>Warehouse Beers</h3>
      <div class="all-day">
        <h4>MadTree on Tap All Day</h4>
        <span>
          Dreamsicle <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          PsycHOPathy <em>ABV:6.9% 16oz</em>
        </span>
        <span>
          Gnarly Brown <em>ABV:7.0% 16oz</em>
        </span>
        <span>
          Happy Amber <em>ABV:6.0% 16oz</em>
        </span>
        <span>
          Rubus Cacao <em>ABV:7% 10oz</em>
        </span>
        <span>
          Lift <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          Axis Mundi <em>ABV:10% 7oz</em>
        </span>
        <span>
          PSA <em>ABV:4.5% 16oz</em>
        </span>
      </div> <!-- /all-day-->
      <div class="timed-releases">
        <h4>Rotating Guest and MadTree Taps</h4>
        <div class="release">
          <time>Noon</time>
          <span>
            MadTree Peach Levanto Blend 1 &ndash; Ale Aged in White Wine Barrels with Peaches, Lemon Peel, Brettanomyces and L.delbruecki <em>7oz</em>
          </span>
          <span>
            MadTree Peach Levanto Blend 2 &ndash; Ale Aged in White Wine Barrels with Peaches, Lemon Peel and Brettanomyces <em>7oz</em>
          </span>
          <span>
            Ei8ht Ball Doppio &ndash; Coffee Porter <em>ABV:7% 10oz</em>
          </span>
          <span>
            Warped Wing BBA Pirouge &ndash; BBA Black Tripel with Cold Brew Coffee<em>10% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>1 p.m.</time>
          <span>
            Blank Slate Bourbon Barrel Aged Shroominous &ndash; BBA Brown Ale<em>ABV:10% 7oz</em>
          </span>
          <span>
           West Sixth BBA Pay it Forward &ndash; BBA Cocoa Porter with Chiles <em>ABV:9% 7oz</em>
          </span>
          <span>
            Columbus Brewing Compnay Bodhi &ndash; DIPA <em>ABV:8% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>2 p.m.</time>
          <span>
            Rhinegeist Double Oaked Gramps &ndash; Bourbon and Pinot Barrel Aged Barleywine<em>ABV:11.8% 7oz</em>
          </span>
          <span>
            Urban Artifact Citrus Finn<em>ABV:5.4% 16oz</em>
          </span>
          <span>
            Great Lakes 2014 Barrel Aged Blackout Stout &ndash; Stout<em>ABV:9.5% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>3 p.m.</time>
          <span>
            MadTree Dead Flowers &ndash; Strong Ale Brewed with Chamomile, Elderflower Aged in Bourbon Barrels with Brettanomyces <em>7oz</em>
          </span>
          <span>
            Moerlein Wild Hunt Black IPA &ndash; Black IPA<em>ABV:6% 16oz</em>
          </span>
          <span>
            Thirsty Dog Wee Heavy Aged in Sherry Barrels &ndash; Scotch Ale<em>ABV:10% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>4 p.m.</time>
          <span>
           Old Firehouse Stand Pipe Stout &ndash; Imperial Stout <em>ABV:9.2% 10oz</em>
          </span>
          <span>
           Braxton BBA Dark Charge &ndash; BBA Imperial Stout <em>ABV:10% 7oz</em>
          </span>
          <span>
           Jackie O's Matriarch &ndash; Triple IPA <em>ABV:11.2% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>5 p.m.</time>
          <span>
           Listerman/Triple Digit BA Maple Chickow &ndash; Hazelnut Double Brown Ale <em>7oz</em>
          </span>
          <span>
            Taft's Ale House Louisa's Dark Side &ndash; Stout aged in American white oak casks and fermented with Brettanomyces, Lactobacillus and Pediococcus <em>ABV:5.8% 7oz</em>
          </span>
          <span>
            Fat Head's Head Trip &ndash; Belgian Triple<em>ABV:9.5% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>6 p.m.</time>
          <span>
            Rivertown Nice Melons &ndash; Watermelon Berliner Style<em>ABV:4% 16oz</em>
          </span>
          <span>
            Yellow Springs Wobbly Wheel DIPA &ndash; DIPA <em>ABV:9% 10oz</em>
          </span>
          <span>
            Land Grant Bourbon Barrel Aged Beard Crumbs &ndash; Oatmeal Raisin Stout<em>ABV:7.8% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>7 p.m.</time>
          <span>
            Hoof Hearted Cultrider &ndash; Imperial Black IPA<em>ABV:11% 7oz</em>
          </span>
          <span>
            Little Fish Balaclava &ndash; Farmhouse Winter Warmer<em>ABV:8.8% 7oz</em>
          </span>
          <span>
            Fifty West Jalopy Nose &ndash; Pepper Stout<em>ABV:11.3% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>8 p.m.</time>
          <span>
            Mt. Carmel Coconut Coffee Brown Ale &ndash; Brown Ale<em>ABV:6% 10oz</em>
          </span>
          <span>
            Fifth Street Brewpub Definitely Frances &ndash; DIPA<em>ABV:9.8% 10oz</em>
          </span>
          <span>
            Seventh Son Coffee Oubliette &ndash; Imperial Stout<em>ABV:12% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>9 p.m.</time>
          <span>
            MadTree Sherry Cherry Raspberry &ndash; Ale Aged in Sherry Barrels with Cherries, Raspberries and L.delbrueckii, L.brevis and Pediococcus <em>7oz</em>
          </span>
          <span>
            North High Twice as Rice &ndash; DIPA<em>ABV:8.2% 7oz</em>
          </span>
          <span>
            Maumee Bay BBA Total Eclipse &ndash; Imperial Stout<em>ABV:10% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>10 p.m.</time>
          <span>
           Dayton Beer Company Broken Empire &ndash; Russian Imperial Stout aged in Buffalo Trace Bourbon Barrels <em>ABV:11.5% 7oz</em>
          </span>
        </div> <!-- /release -->
      </div> <!-- /timed-releases -->
    </section> <!-- /beers.MadTree-beers -->
    <section class="guest-beers beers">
      <h3>Taproom Beers</h3>
      <div class="all-day">
        <h4>MadTree on Tap All Day</h4>
        <span>
          Lift <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          PsycHOPathy <em>ABV:6.9% 16oz</em>
        </span>
        <span>
          Gnarly Brown <em>ABV:7.0% 16oz</em>
        </span>
        <span>
          Happy Amber <em>ABV:6.0% 16oz</em>
        </span>
        <span>
          The Great PumpCan <em>ABV:7.9% 10oz</em>
        </span>
        <span>
          Identity Crisis <em>ABV:6.9% 10oz</em>
        </span>
        <span>
          Axis Mundi <em>ABV:10.0% 7oz</em>
        </span>
        <span>
          Nitro Axis Mundi <em>ABV:10.0% 7oz</em>
        </span>
        <span>
          Nitro Black Forest <em>ABV:4.9% 10oz</em>
        </span>
        <span>
          PSA <em>ABV:4.5% 16oz</em>
        </span>
        <span>
          Rubus Cacao <em>ABV:7% 10oz</em>
        </span>
        <span>
          Stütze <em>ABV:6.8% 16oz</em>
        </span>
        <span>
          Dreamsicle <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          Hunnid <em>ABV:11.9% 7oz</em>
        </span>
        <span>
          Thundersnow <em>ABV:8.5% 10oz</em>
        </span>
        <span>
          Unhappy Amber <em>ABV:7.8% 10oz</em>
        </span>
        <span>
          Ginger Ale / Root Beer <em>(Non-Alcoholic) 20oz</em>
        </span>
      </div> <!-- /all-day -->
      <div class="timed-releases">
        <div class="release">
          <h4>MadTree Rotating Bourbon Barrel-Aged in Taproom</h4>
            <time>
              Noon
            </time>
            <span>
              Coffee and Vanilla Axis Mundi <em>ABV:10.0% 7oz</em>
            </span>
            <time>
              2 p.m.
            </time>
            <span>
              Gin Bourbon Barrel Aged Joon <em>ABV:4.7% 7oz</em>
            </span>
            <time>
              3 p.m.
            </time>
            <span>
              PumpCan <em>ABV:7.9% 7oz</em>
            </span>
            <time>
              4 p.m.
            </time>
            <span>
              Gnarly Brown <em>ABV:7.0% 7oz</em>
            </span>
            <time>
              5 p.m.
            </time>
            <span>
              Are You Ready for Some Darkness <em>ABV:9.6% 7oz</em>
            </span>
            <time>
              6 p.m.
            </time>
            <span>
               YOBR <em>ABV:11.9% 7oz</em>
            </span>
            <time>
              7 p.m.
            </time>
            <span>
               Happy Amber <em>ABV:6% 7oz</em>
            </span>
            <time>
              8 p.m.
            </time>
            <span>
             Wild Turkey Lift <em>ABV:4.7% 7oz</em>
            </span>
            <time>
              9 p.m.
            </time>
            <span>
              Axis Mundi <em>ABV:10% 7oz</em>
            </span>
        </div>
      </div> <!-- /timed-release -->
    </section> <!-- /beers.guest-beers -->
  </section><!-- /beer-list -->
  <section id="bands" class="bands">
    <header class="section-header">
      <h3>Bands &amp; DJs</h3>
      <p>All bands will be playing in the warehouse and all times are approximate. DJs will be in the taproom.</p>
    </header> <!-- /section-header -->
    <section class="band-time">
      <h4>Bands</h4>
      <ul class="band-list">
        <li>
          <time>1 p.m.&ndash;2:30 p.m.</time>
          <p><%= link_to "The Turkeys", "https://www.facebook.com/TheTurkeys/" %></p>
        </li>
        <li>
          <time>3 p.m.&ndash;4:30 p.m.</time>
          <p><%= link_to "Common Center", "https://www.facebook.com/commoncentersounds/" %></p>
        </li>
        <li>
          <time>5 p.m.&ndash;6:30 p.m.</time>
          <p><%= link_to "Cereal Killers", "https://www.facebook.com/cerealkillerslive/" %></p>
        </li>
        <li>
          <time>7 p.m.&ndash;8:30 p.m.</time>
          <p><%= link_to "The Almighty Get Down", "https://www.facebook.com/TheAlmightyGetDown/" %></p>
        </li>
        <li>
          <time>9 p.m.&ndash;12 a.m.</time>
          <p><%= link_to "Rumpke Mountain Boys", "https://www.facebook.com/RumpkeMountainBoys/" %></p>
        </li>
      </ul>
    </section> <!-- /band-time -->
    <section class="dj-time">
      <h4>DJs</h4>
      <ul class="band-list">
        <li>
          <time>Noon&ndash;4 p.m.</time>
          <p>Brian the Bartender</p>
        </li>
        <li>
          <time>4 p.m.&ndash; 8 p.m.</time>
          <p>DJ Soul Step</p>
        </li>
        <li>
          <time>8 p.m.&ndash;12 a.m.</time>
          <p>Jackson Rouse</p>
        </li>
      </ul>
    </section>
  </section> <!-- /bands -->

  <section id="food" class="food">
    <header class="section-header">
      <h3>Food</h3>
    </header> <!-- /section-header -->
    <ul class="food-list">
      <li><%= link_to "Catch-a-Fire Pizza", "https://www.facebook.com/CatchaFirePizza" %></li>
      <li><%= link_to "Bones' Burgers", "https://www.facebook.com/Bones-Burgers-205353236171290/" %></li>
      <li><%= link_to "C'est Cheese Food Truck", "https://www.facebook.com/CestCheeseCincy" %></li>
      <li><%= link_to "Red sesame korean BBQ/ Taco", "https://www.facebook.com/redsesamekoreanbbq" %></li>
    </ul>
  </section> <!-- /bands -->
  <section id="parking" class="parking-info">
    <header class="section-header">
      <h3>Map &amp; Parking</h3>
      <p>Please park at the Fifth Third Bank-Madisonville Operations Building lot at 5001 Kingsley Drive (45227). Shuttle buses will be running from noon to 1AM between the lot and brewery. Drop-off ONLY at MadTree - there is NO PARKING AVAILABLE at MadTree.</p>
    </header> <!-- /section-header -->
    <%= image_tag "bonanza/img-map.png" %>
  </section> <!-- /parking-info -->

</div> <!-- /bonanza-main -->


