<header class="bonanza-header">
  <%= image_tag "logos/summer-bonanza.png" %>
  <nav class="bonanza-nav">
    <ul>
      <li><%= link_to "Beer List", "#beers" %></li>
      <li><%= link_to "Bands", "#bands" %></li>
      <li><%= link_to "Food", "#food" %></li>
      <li><%= link_to "Map &amp; Parking", "#parking" %></li>
    </ul>
  </nav> <!-- /bonanza-nav -->
</header>

<div class="bonanza-main">
  <section class="details">
    <p class="intro">Save the Date! We are bringing the fun of the epic Winter Bonanza to the Summer! Stay tuned for more details on beers, bands, and food.</p>
    <p class="date-time">
      <time datetime="2015-08-29T12:00">August 29th at Noon</time>
      <span>&ndash;</span>
      <time datetime="2015-08-30T01:00">August 30th at 1a.m.</time>
    </p>
  </section> <!-- /details -->

  <section id="beers" class="beer-list">
    <section class="madtree-beers beers">
      <h3>Warehouse Beers</h3>
      <div class="all-day">
        <h4>MadTree on Tap All Day</h4>
        <span>
          Dreamsicle <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          PsycHOPathy <em>ABV:6.9% 16oz</em>
        </span>
        <span>
          Gnarly Brown <em>ABV:7.0% 16oz</em>
        </span>
        <span>
          Happy Amber <em>ABV:6.0% 16oz</em>
        </span>
        <span>
          Mad Pils <em>ABV:5.2% 16oz</em>
        </span>
        <span>
          Lift <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          Shade <em>ABV:4.6% 16oz</em>
        </span>
        <span>
          Citra High <em>ABV:10.2% 7oz</em>
        </span>
      </div> <!-- /all-day-->
      <div class="timed-releases">
        <h4>Rotating Guest and MadTree Taps</h4>
        <div class="release">
          <time>Noon</time>
          <span>
            MadTree Blood Orange PyscHOPathy – Infused IPA <em>ABV:6.9% 10oz</em>
          </span>
          <span>
            MadTree Coffee and Vanilla Bourbon Barrel-Aged Axis Mundi- BBA Imperial Stout <em>ABV:10.0% 7oz</em>
          </span>
          <span>
            Mount Carmel Cellared Maple Doppelbock <em>ABV:10.1% 7oz</em>
          </span>
          <span>
            Stone IRS 2015- Chai Spiced Imperial Russian Stout <em>ABV:10.6%  7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>1 p.m.</time>
          <span>
            Ei8ht Ball Reintarnation- Barrel-Aged American Strong Ale <em>ABV:9.8% 7oz</em>
          </span>
          <span>
            Old Firehouse Engine 103-Double IPA  <em>ABV:9.0% 10oz</em>
          </span>
          <span>
            Yellow Springs Of the Dark – BBA Belgian Strong Ale <em>ABV:11.5% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>2 p.m.</time>
          <span>
            Cellar Dweller Blues Gose – Blueberry Gose <em>ABV:4.2% 16oz</em>
          </span>
          <span>
            Jackie O’s Oro Negro – American Double Stout Brewed with Black Walnuts and Conditioned with Oak Staves, Cacao Nibs, Vanilla Beans, Cinnamon Sticks and Habanero Peppers <em>ABV:10.0% 7oz</em>
          </span>
          <span>
            Urban Artifact Hippodrome – Brett IPA <em>ABV:8.1% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>3 p.m.</time>
          <span>
            Rivertown Ojos Negros - Blackberry Lambic <em>ABV:6.2% 7oz</em>
          </span>
          <span>
            Columbus Brewing Company Creeper - Imperial IPA <em>ABV:10.0% 7oz</em>
          </span>
          <span>
            Quaff/MadTree Gnappy - BBA Brown Ale <em>ABV:7.0% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>4 p.m.</time>
          <span>
            West Sixth Snakes in a Barrel -  BBA Imperial Stout <em>ABV:11.0% 7oz</em>
          </span>
          <span>
            Revolution Chicago Common – “Steam Beer” <em>ABV:5.4% 16oz</em>
          </span>
          <span>
            Fifth Street Baie Rose – Pink Peppercorn Belgian Saison <em>ABV: 6.5% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>5 p.m.</time>
          <span>
            Dayton Beer Company Batch 100 – Belgian Golden Strong Ale <em>ABV:9.0% 10oz</em>
          </span>
          <span>
            Rhinegeist Knucklehead – BBA American Strong Ale <em>ABV:10.5% 7oz</em>
          </span>
          <span>
            Hoppin Frog Barrel-Aged Turbo Shandy Citrus Ale <em>ABV:7.0% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>6 p.m.</time>
          <span>
            MadTree Joon – Gin Barrel- Aged Ale with Juniper and Ginger <em>ABV:5.0% 7oz</em>
          </span>
          <span>
            Braxton Dead Blow Tropical Stout brewed with Starter Coffee <em>ABV:7.2% 10oz</em>
          </span>
          <span>
            Warped Wing Space Food -  IPA <em>ABV:7.0% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>7 p.m.</time>
          <span>
            Fat Head’s IBUsive – Imperial IPA <em>ABV:7.8% 10oz</em>
          </span>
          <span>
            Blank Slate Turn for the Wurst – Sausage Spiced Oktoberfest <em>ABV:6.4% 16oz</em>
          </span>
          <span>
            Thirsty Dog Berliner Weisse <em>ABV:5.4% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>8 p.m.</time>
          <span>
            Land Grant No Soul -  Ginger Kolsch <em>ABV:3.7% 16oz</em>
          </span>
          <span>
            Seventh Son Woodwolf – Cherrywood and American Oak Aged Double IPA <em>ABV:9.3% 10oz</em>
          </span>
          <span>
            Listermann Cranium with Orange Peel – BBA Stout with Coffee and Vanilla <em>ABV:11.0% 7oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>9 p.m.</time>
          <span>
            North High Bourbon Barrel-Aged Milk Stout <em>ABV:8/0% 7oz</em>
          </span>
          <span>
            Great Lakes Honey Ale -  Blonde Ale Brewed with Raw Honey <em>ABV:8.0% 10oz</em>
          </span>
          <span>
            Fifty West Bonus Check -  Porter with Cacao Nibs and Oak Chips <em>ABV:6.1% 10oz</em>
          </span>
        </div> <!-- /release -->
        <div class="release">
          <time>10 p.m.</time>
          <span>
            Christian Moerlein Citrus-Infused Bay of Bengal – Infused Double IPA <em>ABV:8.9% 10oz</em>
          </span>
          <span>
            MadTree Bourbon Barrel-Aged Happy Amber <em>ABV:6.0% 7oz</em>
          </span>
          <span>
            The Brew Kettle Oak Aged Belgian Tripel <em>ABV:9.2% 7oz</em>
          </span>
        </div> <!-- /release -->
      </div> <!-- /timed-releases -->
    </section> <!-- /beers.madtree-beers -->
    <section class="guest-beers beers">
      <h3>Taproom Beers</h3>
      <div class="all-day">
        <h4>MadTree on Tap All Day</h4>
        <span>
          Lift <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          PsycHOPathy <em>ABV:6.9% 16oz</em>
        </span>
        <span>
          Gnarly Brown <em>ABV:7.0% 16oz</em>
        </span>
        <span>
          Happy Amber <em>ABV:6.0% 16oz</em>
        </span>
        <span>
          The Great PumpCan <em>ABV:7.9% 10oz</em>
        </span>
        <span>
          Identity Crisis <em>ABV:6.9% 10oz</em>
        </span>
        <span>
          Axis Mundi <em>ABV:10.0% 10oz</em>
        </span>
        <span>
          Shade <em>ABV:4.6% 16oz</em>
        </span>
        <span>
          Lemon Basil Blonde <em>ABV:4.7% 16oz</em>
        </span>
        <span>
          Fresh 15 <em>ABV:4.4% 16oz</em>
        </span>
        <span>
          Experimental Pale Ale #6 <em>ABV:4.8% 16oz</em>
        </span>
        <span>
          Mad Pils <em>ABV:5.2% 16oz</em>
        </span>
        <span>
          Citra High <em>ABV:10.2% 7oz</em>
        </span>
        <span>
          Vernal Beckoning <em>ABV:6.1% 16oz</em>
        </span>
        <span>
          Nitro Axis Mundi <em>ABV:10.0% 7oz</em>
        </span>
        <span>
          Cream Soda <em>(Non-Alcoholic) 20oz</em>
        </span>
      </div> <!-- /all-day -->
      <div class="timed-releases">
        <div class="release">
          <h4>MadTree Rotating Bourbon Barrel-Aged in Taproom</h4>
            <time>
              Noon
            </time>
            <span>
              Axis Mundi <em>ABV:10.0% 7oz</em>
            </span>
            <time>
              3 p.m.
            </time>
            <span>
              Ye Olde Battering Ram <em>ABV:11.9% 7oz</em>
            </span>
            <time>
              5 p.m.
            </time>
            <span>
              Wild Turkey Amber <em>ABV:6.0% 7oz</em>
            </span>
            <time>
              7 p.m.
            </time>
            <span>
              Gnarly Brown <em>ABV:7.0% 7oz</em>
            </span>
            <time>
              8 p.m.
            </time>
            <span>
              Wild Turkey Lift <em>ABV:4.7% 7oz</em>
            </span>
        </div>
        <div class="release">
          <h4>MadTree Rotating Past Favorites in Taproom</h4>
          <div>
            <time>
              Noon
            </time>
            <span>
              DOUBLEPLUSGOOD <em>ABV:7.7% 10oz</em>
            </span>
            <time>
              1 p.m.
            </time>
            <span>
              Fünke Blue <em>ABV:4.5% 16oz</em>
            </span>
            <time>
              2 p.m.
            </time>
            <span>
              Boysen the Hood <em>ABV:4.2% 16oz</em>
            </span>
            <time>
              6 p.m.
            </time>
            <span>
            Sol Drifter <em>ABV:4.3% 16oz</em>
            </span>
            <time>
              9 p.m.
            </time>
            <span>
              Are You Ready for the Darkness <em>ABV:10.0% 7oz</em>
            </span>
          </div>
        </div>
      </div> <!-- /timed-release -->
    </section> <!-- /beers.guest-beers -->
  </section><!-- /beer-list -->
  <section id="bands" class="bands">
    <header class="section-header">
      <h3>Bands & DJs</h3>
      <p>All bands will be playing in the warehouse and all times are approximate.</p>
    </header> <!-- /section-header -->
    <section class="band-time">
      <h4>Bands</h4>
      <ul class="band-list">
        <li>
          <time>Noon</time>
          <p>Cody J. Martin</p>
        </li>
        <li>
          <time>2 p.m.</time>
          <p>46 Long</p>
        </li>
        <li>
          <time>4 p.m.</time>
          <p><%= link_to "Sweet and the Sweet Sweets", "https://www.facebook.com/cincinnatisweetsweetsweets" %></p>
        </li>
        <li>
          <time>5 p.m.</time>
          <p><%= link_to "Cereal Killers", "https://www.facebook.com/cerealkillerslive" %></p>
        </li>
        <li>
          <time>7 p.m.</time>
          <p><%= link_to "Founding Fathers", "https://www.facebook.com/FoundingfathersCincinnati" %></p>
        </li>
        <li>
          <time>8 p.m.</time>
          <p><%= link_to "DAAP Girls", "https://www.facebook.com/DAAPgirls" %></p>
        </li>
        <li>
          <time>10:30 p.m.</time>
          <p><%= link_to "The Almighty Get Down", "https://www.facebook.com/TheAlmightyGetDown" %></p>
        </li>
      </ul>
    </section> <!-- /band-time -->
    <section class="dj-time">
      <h4>DJs</h4>
      <ul class="band-list">
        <li>
          <time>Noon</time>
          <p><strong>Melvin Dillon</strong> &ndash; DJ Soul Step</p>
        </li>
        <li>
          <time>3 p.m.</time>
          <p><strong>David Corns</strong> &ndash; Sabastooge</p>
        </li>
        <li>
          <time>6 p.m.</time>
          <p><strong>Elizabeth Park</strong> &ndash; DJ Spam</p>
        </li>
        <li>
          <time>9 p.m.</time>
          <p><strong>Jackson Travis Rouse</strong> &ndash; Jackson</p>
        </li>
      </ul>
    </section>
  </section> <!-- /bands -->

  <section id="food" class="food">
    <header class="section-header">
      <h3>Food</h3>
    </header> <!-- /section-header -->
    <ul class="food-list">
      <li><%= link_to "Catch-a-Fire Pizza", "https://www.facebook.com/CatchaFirePizza" %></li>
      <li><%= link_to "Maribelle's", "http://www.maribellestavern.com/" %></li>
      <li><%= link_to "C'est Cheese Food Truck", "https://www.facebook.com/CestCheeseCincy" %></li>
      <li><%= link_to "Red sesame korean BBQ/ Taco", "https://www.facebook.com/redsesamekoreanbbq" %></li>
      <li><%= link_to "Bones' Burgers", "https://www.facebook.com/pages/Bones-Burgers/205353236171290" %></li>                  
      <li><%= link_to "Street Pops", "https://www.facebook.com/streetpops" %></li>
    </ul>
  </section> <!-- /bands -->
  <section id="parking" class="parking-info">
    <header class="section-header">
      <h3>Map &amp; Parking</h3>
      <p>Please park at Fifth Third (5001 Kingsley Drive, 45227) or MedPace (5375 MedPace Way, 45227) and take the shuttle running from noon until 1am. There will be very limited parking at MadTree.</p>
    </header> <!-- /section-header -->
    <%= image_tag "bonanza/img-map.jpg" %>
  </section> <!-- /parking-info -->

</div> <!-- /bonanza-main -->


