---
current_page: "assets"
---

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Employees' />
  <meta property="og:image" content='http://madtreebrewing.com/images/map.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/employees.html'/>
  <meta property="og:description" content='Meet the employees of MadTree Brewing.' />
  <meta name="description" content='Meet the employees of MadTree Brewing.' />
<% end %>

<% content_for :page_classes do %>
  interior assets
<% end %>

<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<div class="container">
  <div class="asset-sections">

    <section id="logos" class="asset-section logos">
      <h2>Logos</h2>
      <%= link_to image_tag("assets/logos/img-white-preview.png"), "/images/assets/logos/logo-white.pdf" %>
      <%= link_to image_tag("assets/logos/img-dark-preview.png"), "/images/assets/logos/logo-dark.jpg" %>
      <%= link_to image_tag("assets/logos/img-circle-preview.png"), "/images/assets/logos/logo-circle.pdf" %>
    </section>

      <h2>Tap Stickers</h2>
    <section id="tapstickers" class="asset-section tapstickers">
      <div>
        <h4>Year-round</h4>
        <%
            taps = [
              "happy_amber",
              "lift",
              "psychopathy"
        ]
        %>
        <% taps.each do |tap| %>
          <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
        <% end %>
      </div>
      <div>
        <h4>Limited Year-Round</h4>
        <%
            taps = [
              "axis_mundi",
              "identity_crisis",
              "galaxy_high",
              "citra_high"
          ]
        %>
        <% taps.each do |tap| %>
          <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
        <% end %>
      </div>
      <div>
        <h4>Collaboration</h4>
        <%
            taps = [
              "wheat_eater",
              "madmann",
              "blacktart"
        ]
      %>
    <% taps.each do |tap| %>
      <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
    <% end %>
    </div>
    <div>
    <h4>Seasonals</h4>
    <%
        taps = [
          "sol_drifter",
          "sprye",
          "thundersnow",
          "great_pumpcan"
    ]
  %>
<% taps.each do |tap| %>
  <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
<% end %>
    </div>
    <div>
      <h4>Limited Seasonals</h4>
        <%
            taps = [
              "pilgrim",
              "unhappy_amber",
              "rubus_cacao",
              "black_forest"
        ]
      %>
    <% taps.each do |tap| %>
      <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
    <% end %>
    </div>
    <div class="limited">
      <h4>Limited</h4>
      <%
          taps = [
            "axis_mundi_bourbon_barrel",
            "axis_mundi_vanilla",
            "dead_flowers",
            "everything_went_black",
            "flight_of_simcoe",
            "gedde_up",
            "gnarly_brown_bourbon_barrel",
            "gnarly_brown_coffee",
            "gnarly_brown_vanilla",
            "grapefrute_moon",
            "happy_amber_bourbon_barrel",
            "kolsch_experimental",
            "lemon_basil",
            "olde_battering_ram",
            "oyster_pale_ale",
            "pleasant_wheat",
            "proper_session_ale",
            "relegation",
            "ypa"
        ]
      %>
        <% taps.each do |tap| %>
          <%= link_to image_tag("assets/taps/#{tap}_thumb.png"), "/images/assets/taps/#{tap}.jpg" %>
        <% end %>
      </div>
    </section> <!-- /asset-section -->

    <section id="pressphotos" class="asset-section press">
      <h2>Press Photos</h2>
      <%
          photos = ["brewery", "cans", "kegs", "tap_handles", "taproom", "boiler", "tap", "jeff", "jeff2"]
        %>
      <% photos.each do |photo| %>
        <%= link_to image_tag("assets/press/#{photo}_thumb.jpg"), "/images/assets/press/#{photo}.jpg" %>
      <% end %>
    </section> <!-- /asset-section -->

    <section id="salessheets" class="asset-section salessheets">
      <h2>Sales Sheets</h2>
      <%
          sales_sheets = [
            ["Axis Mundi", "axis_mundi"],
            ["Galaxy High Full Page", "galaxy_high_full_page"],
            ["Galaxy High", "galaxy_high"],
            ["Gnarly Brown Full Page", "gnarly_brown_full_page"],
            ["Gnarly Brown", "gnarly_brown"],
            ["Great Pumpcan Full Page", "great_pumpcan_full_page"],
            ["Great Pumpcan", "great_pumpcan"],
            ["Happy Amber Full Page", "happy_amber_full_page"],
            ["Happy Amber", "happy_amber"],
            ["Identity Crisis", "identity_crisis"],
            ["Lift Full Page", "lift_full_page"],
            ["Lift", "lift"],
            ["Misnomer Full Page", "misnomer_full_page"],
            ["PsycHOPathy Full Page", "psychopathy_full_page"],
            ["PsycHOPathy", "psychopathy"],
            ["Rubus Cacao", "rubus_cacao"],
            ["Salazar", "salazar"],
            ["Sol Drifter Drink Recipes", "sol_drifter_drink_recipes"],
            ["Sol Drifter Full Page", "sol_drifter_full_page"],
            ["Sol Drifter", "sol_drifter"],
            ["Sprye", "sprye"],
            ["Thundersnow Full Page", "thundersnow_full_page"],
            ["Thundersnow", "thundersnow"]
      ]
    %>
  <ul>
    <% sales_sheets.each do |sales_sheet| %>
      <%= content_tag :li, link_to(sales_sheet.first, "/images/assets/sales/#{sales_sheet.last}.pdf") %>
    <% end %>
  </ul>
</section> <!-- /asset-section -->

  </div>
</div> <!-- /container -->
