---
current_page: "community"
sub_page: "artists"
---

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Artists' />
  <meta property="og:image" content='../images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/artists.html'/>
  <meta property="og:description" content='Meet the artists of MadTree Brewing.' />
  <meta name="description" content='Meet the artists of MadTree Brewing.' />
<% end %>

<% artists = data.artists %>

<% content_for :page_classes do %>
  interior artists
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<div class="container">
  <h2>Artists</h2>
  <div class="artist-group">
  <% artists.each do |artist| %>
    <div class="employee">
      <div class="employee__photo">
        <%= image_tag("community/artists/#{artist.photo}") %>
      </div> <!-- /employee__photo -->
      <header class="employee__header">
        <h3><%= artist.name %></h3>
        <h4><%= artist.title %></h4>
        <%= link_to "About #{artist.name}&hellip;", "#" %>
      </header> <!-- /employee__header -->
      <div class="employee__info">
        <p><%= artist.bio %></p>
      </div>
    </div> <!-- /employee -->
  <% end %>
  </div>
</div>

