---
current_page: "community"
sub_page: "artists"
---
<% artists = data.artists.details %>

<% content_for :page_classes do %>
  interior artists
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>


<div class="container">
  <h2>Artists</h2>
  <section class="founders">
    <div class="founder-photos">
      <ul class="photo-grid">
        <% artists.each_with_index do |artist, i| %>
          <% name = artist.name.split(" ").first.downcase %>
          <li class="founder <%= 'active' if i == 0 %>">
          <%= link_to(image_tag(artist.image), "#", data: { target: "##{name}" }) %>
          </li>
        <% end %>
      </ul> <!-- /photo-grid -->
    </div> <!-- /founder-photos -->
    <div class="founder-text">
        <% artists.each_with_index do |artist, i| %>
          <% name = artist.name.split(" ").first.downcase %>
          <div class="founder-info <%= 'active' if i == 0 %>" id="<%= name %>">
            <div class="content">
              <%= content_tag :h3, artist.name %>
              <%= content_tag :h4, artist.title %>
              <%= content_tag :p, artist.bio %>
              <%= link_to "View Work", artist.url %>
            </div> <!-- /content -->
          </div>
        <% end %>
    </div> <!-- /founder-text -->
  </section> <!-- /founders -->
</div>

