---
current_page: "community"
sub_page: "founders"
---
<%
  founders = [];
  ops = [];
  office = [];
  production = [];
  sales = [];
  packaging = [];
  taproom = [];
  other = [];
%>

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Employees' />
  <meta property="og:image" content='http://madtreebrewing.com/images/map.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/employees.html'/>
  <meta property="og:description" content='Meet the employees of MadTree Brewing.' />
  <meta name="description" content='Meet the employees of MadTree Brewing.' />
<% end %>


<% data.employees.each do |employee| %>
  <% founders << employee if employee.department == "Founder" %>
  <% ops << employee if employee.department == "Quality Lab" %>
  <% office << employee if employee.department == "Front Office" %>
  <% production << employee if employee.department == "Production" %>
  <% sales << employee if employee.department == "Sales" %>
  <% packaging << employee if employee.department == "Packaging" %>
  <% taproom << employee if employee.department == "Taproom" %>
  <% other << employee if employee.department == "" %>
<% end %>

<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<div class="container">
  <h2>Employees</h2>
  <h3>Production</h3>
  <div class="employee-group">
    <%= partial 'partials/employee', locals: { employee: production } %>
  </div>
  <h3>Packaging</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: packaging } %>
  </div>
  <h3>Quality Lab</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: ops } %>
  </div>
  <h3>Sales</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: sales } %>
  </div>
  <h3>Front Office</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: office } %>
  </div>
  <h3>Taproom</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: taproom } %>
  </div>
  <h3>Other</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: other } %>
  </div>
  <h3>Founders</h3>
  <div class="employee-group">
  <%= partial 'partials/employee', locals: { employee: founders } %>
  </div>
</div>

