---
current_page: "community"
sub_page: "founders"
---
<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<div class="container">
  <h2>Employees</h2>
  <section class="founders">
    <div class="founder-photos">
      <ul class="photo-grid">
        <li class="founder active"><%= link_to image_tag("community/img-brady.jpg"), "#", data: { target: "#brady" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-simon.jpg"), "#", data: { target: "#simon" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-dusty.jpg"), "#", data: { target: "#george" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-matt.jpg"), "#", data: { target: "#matt" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-kevin.png"), "#", data: { target: "#kevin" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-kris.png"), "#", data: { target: "#kris" } %></li>
        <li class="founder"><%= link_to image_tag("community/img-ryan.jpg"), "#", data: { target: "#ryan" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-jeff.jpg"), "#", data: { target: "#jeff" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-kenny.jpg"), "#", data: { target: "#kenny" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-mattd.jpg"), "#", data: { target: "#mattd" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-adamp.jpg"), "#", data: { target: "#adamp" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-dustyb.jpg"), "#", data: { target: "#dusty" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-trent.jpg"), "#", data: { target: "#trent" } %></li>
        <li class="founder "><%= link_to image_tag("community/img-pat.jpg"), "#", data: { target: "#pat" } %></li>
      </ul> <!-- /photo-grid -->
    </div> <!-- /founder-photos -->
    <div class="founder-text">
      <div class="founder-info active" id="brady">
        <div class="content">
          <h3>Brady</h3>
          <h4>Secretary of Beer Defense</h4>
          <p>Brady grew up in Massillon Ohio and graduated from the University of Dayton with a degree in public relations and marketing. At UD he mostly drank cheap beer and is now atoning for his mistakes by consuming copious amounts of good beer. Passionate to discover the beautiful South (or follow his wife's career), he worked in sales for two years before going back to school for his MBA at the University of Alabama. He was recruited to P&G where he worked for 4 years in the analytics space. While in Bama he developed a passion for good beer through his buddy (and investor) Shane. After attending GABF in 2008 the passion turned into obsession and he began homebrewing shortly after. He met Jeff and Kenny in 2009 and the rest is that of folklore. He is married to Amie with a son, Crosby, and dog, Gus.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info -->
      <div class="founder-info" id="simon">
        <div class="content">
          <h3>Simon</h3>
          <h4>CANicidal Maniac</h4>
          <p>Simon, originally from Scranton PA, graduated from Lycoming College with a degree in Marketing in 2008. Immediately moving to Cincinnati he worked as a sales rep for an advertising specialties company for several years. During this time he began home brewing and discovering craft beers. After graduating from Xavier University with an M.B.A. he decided to pursue his passion of craft beer and search for work in the brewing industry of Cincinnati, which is how he came to MadTree and traded a cubicle for keg racks.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info -->
      <div class="founder-info" id="george">
        <div class="content">
          <h3>George Huston-a.k.a Dusty or Monkey Boy</h3>
          <h4>Taptender</h4>
          <p>Dusty was born and raised in Cincinnati, Hyde Park Ave. (wrong side of the tracks). He graduated from Withrow H.S. and Cincinnati State with a degree in Applied Science/ Nursing. He has a certificate of mixology from the International bartending Institute and applied it at Habit's cafe for 22yrs! His hobbies include (but not limited to) hunting, rock climbing, mountain biking and anything that has beer at the finish line. He&rsquo;s most notorious for being annoyingly early for anything, yelling "Yehaaw" when things get rough, and strolling through Oakley square "all natural"! He&rsquo;s proud to be a member of the MadTree family.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="matt">
        <div class="content">
          <h3>Matt</h3>
          <h4>Brewery Utility Man</h4>
          <p>Matt is a native of Cincinnati, Ohio and graduated from Penn State University with a degree in Economics and Business Law.  Upon his return to Cincinnati after school to work, a good high-school friend showed Matt some old wine and beer making equipment he had found in his dad's basement and as they often say, the rest is history.  Homebrewing began as a hobby but quickly spiraled into a full time obsession, including Matt building a fully functional brewery in the basement of his home and brewing two, three, and even four times a month.  That obsession took the next step when he began looking for opportunities to volunteer at local breweries around town, and when Matt enrolled in The Siebel Institute of Technology for some formal brewing education.  What once was a frequent day-dream became a true reality when Matt got the opportunity to trade in his dress shoes for a pair of brewer's boots and join MadTree as an Assistant Brewer & Cellarman, and he's never looked back.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="kevin">
        <div class="content">
          <h3>Kevin</h3>
          <h4>Fugilist/Brewer</h4>
          <p>Kevin was born and raised in Cincinnati.  He grew up in Oakley and Madisonville and currently resides in Pleasant Ridge. During his early drinking days he was known to enjoy a "champagne" beer.  He started trying craftier beers as the years went by and began getting interested in trying to concoct his own.  A friend of his used to teach classes on homebrewing when it was first legalized and was kind enough to share his knowledge.  He is currently enrolled at The Siebel Institute working on his Associates in Brewing degree.  Kevin is married to Elizabeth and has a son Aiden (5) a daughter Caroline (4) and a dog Megan (?). </p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="kris">
        <div class="content">
          <h3>Kris</h3>
          <h4>Beer Ambassador</h4>
          <p>Kris was born in Wisconsin, spent a few years in Michigan but has called Cincinnati home since 1991. After attending The Ohio State University and the University of Cincinnati, he is currently studying Graphic Design at Cincinnati State. Kris has was worn a variety of hats in the restaurant and bar industry until he found his true passion... craft beer. Once learning of MadTree from reviews from a tasting in the bowels of Kenny's basement, it reinforced his decision to pursue a new hat, taproom manager.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="ryan">
        <div class="content">
          <h3>Ryan</h3>
          <h4>Black Beerd/Brewer</h4>
          <p>Ryan was born and raised in Cincinnati, Ohio (the westside that is!).  He found a passion for the automotive industry at a very young age.  He went to Cincinnati State Community College to follow that passion and studied in Automotive Service Management.  Ryan, not satisfied with the "normal" beer selection, found himself in search of something more diverse.  Around 2008 or so he started homebrewing with a close friend and the rest is history.  Now the wrench has been traded in for the mash paddle and he couldn't be happier.  He is currently living in Northern Kentucky with his wife, Katie.  </p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="jeff">
        <div class="content">
          <h3>Jeff</h3>
          <h4>Beer Can&rsquo;noisseur</h4>
          <p>After getting his degree in Electrical and Computer Engineering at The Ohio State University, Jeff found his way back to his hometown of Cincinnati to spend 6 years as an engineer. While in Columbus he joined a craft "beer of the week" club.  He brought the idea back to Cincinnati, and the club helped develop his craft beer palate and encouraged a love for brewing. His passion for craft beer pushed him to turn dream into reality by starting MadTree with Kenny and Brady. He has a wonderful wife, Cassandra, who has helped make all this possible and two amazing kids.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="kenny">
        <div class="content">
          <h3>Kenny</h3>
          <h4>The &lsquo;Beer&rsquo;ded Baron</h4>
          <p>With a Master&rsquo;s Degree in Engineering from Cornell University and an MBA from Xavier University, Kenny McNutt brings a mix of experience dealing with technical as well as business challenges. Prior to founding MadTree, Kenny managed a team of engineers for a major defense contractor and developed processes for tracking cost and schedule for a $10M+ program. At MadTree, Kenny is known as the man with the financial plan.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="mattd">
        <div class="content">
          <h3>Matt</h3>
          <h4>Cannosaurus Rex</h4>
          <p>Matt was born and raised on the eastside of Cincinnati, and current resides in Over the Rhine. After high school he attended Wright State (wrong college) University graduating with a bachelors in psychology. After graduation, he enrolled at Xavier University where he is currently perusing his Masters and licensure in special education. He connected with MadTree after a Facebook post from his former 6th grade teacher. Volunbeer turned employee, Matt can be found doing everything but brewing.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="adamp">
        <div class="content">
          <h3>Adam Pratt</h3>
          <h4>Global Can'bassador - Central Ohio Division</h4>
          <p>Adam Pratt grew up in Western New York drinking Canadian pilsner and playing street hockey. After earning his Bachelor's degree in English and a penchant for good beer from Denison University, Adam and his wife Stephanie moved to Cincinnati to be near her family and find gainful employment. They settled in the community of Pleasant Ridge, and Adam followed a career path in restaurant and retail management. After several years as a Beer & Wine Buyer for a global specialty retailer, the siren's call of Central Ohio once again summoned him North. He brings with him Pleasant Ridge's finest export - MadTree Brewing cans and kegs - to share with the good citizens of Ohio. Adam, Stephanie, their daughter Harper, and their dogs Ollie &amp; Cooper live in Columbus.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="dusty">
        <div class="content">
          <h3>Dusty Bowman</h3>
          <h4>Beer'ded Balded Bean Counter</h4>
          <p>Dusty was born &amp; raised in Dayton, OH where he graduated from UD with a degree in accounting (and a double-major in a certain "blue beast"). He moved to Cincinnati to start his career and quickly developed a more discerning palate.  Eventually Dusty started homebrewing with some close friends and craft beer - along with everything related to brewing - rapidly became an obsession. He started bugging the guys at MadTree about a job before they had even started brewing, so perhaps it was karma when over a year later they decided to hire an accountant and Dusty was able to join the team.  He is married to Karen and they have a daughter and a son. </p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="trent">
        <div class="content">
          <h3>Trent Leslie</h3>
          <h4>Beerologist</h4>
          <p>Trent was raised in Ashland, Ohio and graduated from Saint Louis University in 2006 with a bachelor's degree in aerospace engineering. He then changed course, spending a few years in southeast Kansas as an oil & gas landman researching title in courthouses and negotiating contracts with landowners. In 2009, he changed course again and moved to Cincinnati to study biology at the University of Cincinnati and spend more time with Sarah, his future wife and fellow craft beer enthusiast. He married in 2012 and graduated with a master's degree in biology in 2013. Another long-time homebrewer and volunteer turned employee, Trent spends his time at MadTree on the canning line and spearheading the development of the brewery lab.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
      <div class="founder-info" id="pat">
        <div class="content">
          <h3>Pat Campbell</h3>
          <h4>Sir Cans-A-Lot/Brewer</h4>
          <p>Pat was born in Minnesota and grew up in Wisconsin.  He graduated from the University of Wisconsin with a bachelor&rsquo;s degree in psychology and then moved back to the Land of 10,000 Lakes shortly after.  A few years ago his wife bought him a home brewing kit for his birthday and this is where his passion for good beer started.  He has been making beer for friends and family ever since.  Pat moved to Cincinnati from Minnesota in 2013 and started volunteering the very next day.  He kept volunteering and eventually ended up becoming an employee. He is currently living in Oakley with his wife, Jenna and their dog, Roscoe.</p>
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
    </div> <!-- /founder-text -->
  </section> <!-- /founders -->
</div>
