<nav class="community-nav sidebar-nav">
  <ul class="nav-list">
    <li class="nav-item nav-header">
      <%= link_to 'Founders', '#' %>
      <ul class="nav subnav">
        <li class="subnav-item">
          <%= link_to 'Brady Duncan', '#' %> 
        </li>
        <li class="subnav-item">
          <%= link_to 'Jeff Hunt', '#' %> 
        </li>
        <li class="subnav-item">
          <%= link_to 'Kenny McNutt', '#' %> 
        </li>
      </ul> <!-- /subnav -->
    </li> <!-- /nav-header -->
  </ul> <!-- /nav -->
</nav> <!-- /community-nav -->

<section class="content-area community">
  <div class="content-area-image">
  </div> <!-- /content-area-image -->

  <section class="content-area-body">
    <header class="content-body-header">
      <h2>Brady Duncan</h2>
      <h3>Secretary of Beer Defense</h3>
    </header> <!-- /content-area-header -->
    <div class="content-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a pretium lectus, vitae bibendum nibh. Pellentesque vestibulum velit ut diam feugiat interdum. Maecenas et metus arcu.
      </p>
    </div> <!-- /content-body -->
    <footer class="content-body-footer">
      <div class="favorite-beer">
        <h3>Brady's Favorite Beer</h3>
        <%= image_tag 'beers/img-crushed-amber.png' %>
      </div> <!-- /favorite-beer -->
    </footer> <!-- /content-body-footer -->
  </section> <!-- /content-area-body -->
</section> <!-- /content-area -->
