---
current_page: "community"
sub_page: "founders"
---

<% employees = data.employees %>

<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<div class="container">
  <h2>Employees</h2>
  <section class="founders">
    <div class="founder-photos">
      <ul class="photo-grid">
        <% employees.each_with_index do |employee, i| %>
          <% name = employee.name.gsub(/\s+/, "") %>
          <li class="founder <%= 'active' if i == 0 %>">
          <%= link_to(image_tag(employee.image), "#", data: { target: "##{name}" }) %>
          </li>
        <% end %>
      </ul> <!-- /photo-grid -->
    </div> <!-- /founder-photos -->
    <div class="founder-text">
        <% employees.each_with_index do |employee, i| %>
          <% name = employee.name.gsub(/\s+/, "") %>
          <div class="founder-info <%= 'active' if i == 0 %>" id="<%= name %>">
            <div class="content">
              <%= content_tag :h3, employee.name %>
              <%= content_tag :h4, employee.title %>
              <%= content_tag :p, employee.bio %>
            </div> <!-- /content -->
          </div>
        <% end %>
    </div> <!-- /founder-text -->
  </section> <!-- /founders -->
</div>
