---
current_page: "community"
sub_page: "founders"
---
<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<div class="container">
  <h2>Founders</h2>
  <section class="founders">
    <div class="founder-photos">
      <ul class="photo-grid">
        <li class="founder active"><%= link_to image_tag("community/brady.png"), "#", data: { target: "#brady" } %></li>
        <li class="founder "><%= link_to image_tag("community/jeff.png"), "#", data: { target: "#jeff" } %></li>
        <li class="founder "><%= link_to image_tag("community/kenny.png"), "#", data: { target: "#kenny" } %></li>
        <% 3.times do %>
          <li class="empty"><%= link_to image_tag("community/bg-about.png"), "#" %></li>
        <% end %>
      </ul> <!-- /photo-grid -->
    </div> <!-- /founder-photos -->
    <div class="founder-text">
      <div class="founder-info active" id="brady">
        <div class="content">
          <h3>Brady Duncan</h3>
          <h4>One of the founders</h4>
          <p>Lorem ipsum dolor sit amet, consecteas et Aegyptum lustravit et Persarum magos adiit? Quorum alvirtute vim esse quam maximam; Non dolenterrete. Cum praesertim illa perdiscere ludus esset. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi</p>
          <div class="favorite-beer">
            <h5>Favorite Beer: <span>Psychopathy</span></h5>
            <%= image_tag "community/img-can-psychopathy.png" %>
          </div> <!-- /favorite-beer -->
        </div> <!-- /content -->
      </div> <!-- /founder-info -->
      <div class="founder-info" id="jeff">
        <div class="content">
          <h3>Jeff Hunt</h3>
          <h4>One of the founders</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quyptum lustravit et Persarum a. Ego vero volo in virtute vim esse quam maximam; Non dolere, inquam, istud quam vim habeat postea videro; Duo Reges: constructio interrete. Cum praesertim illa pe videntur sequi</p>
          <div class="favorite-beer">
            <h5>Favorite Beer: <span>Gnarly Brown</span></h5>
            <%= image_tag "community/img-can-gnarly.png" %>
          </div> <!-- /favorite-beer -->
        </div> <!-- /content -->
      </div> <!-- /founder-info -->
      <div class="founder-info" id="kenny">
        <div class="content">
          <h3>Kenny McNutt</h3>
          <h4>One of the founders</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quyptum lustravit et Persarum magos adiit? Quorum altera prosunt, nocent altera. Ego vero volo in virtute nunt, ut sit aliqua rerum selectio, naturam videntur sequi</p>
          <div class="favorite-beer">
            <h5>Favorite Beer: <span>Happy Amber</span></h5>
            <%= image_tag "community/img-can-amber.png" %>
          </div> <!-- /favorite-beer -->
        </div> <!-- /content -->
      </div> <!-- /founder-info --> 
    </div> <!-- /founder-text -->
  </section> <!-- /founders -->
</div>
