<% content_for :page_classes do %>
  home 
<% end %>
<% content_for :site_header do %>
  <%= partial 'partials/header-hero' %>
  <%= partial 'partials/nav' %>
<% end %>

<div class="container">
  <section class="find-madtree">
    <div id="map-canvas">
      <div id="map"></div>
      <div id="loc-list">
        <ul id="list"></ul> <!-- /list -->
      </div> <!-- /loc-list -->
    </div> <!-- /map-canvas -->
    <section class="find-beer">
      <div>
        <h2>Find Madtree Beer</h2>
        <div id="form-container">
          <form id="user-location" method="post" action="#">
            <div class="input-group">
              <input type="text" id="address" name="address" class="form-control" placeholder="Enter your address or zip code">
              <span class="input-group-btn">
                <button class="btn btn-default" id="submit" type="submit">Find Beer!</button>
              </span> <!-- /input-group-btn -->
            </div><!-- /input-group -->
          </form> <!-- /user-location -->
        </div> <!-- /form-container -->
        <p class="disclaimer">Note: <em>MadTree cannot guarantee beer will be available.</em></p>
      </div>
      <div class="search-result-info">
        <p class="disclaimer"><strong>Note:</strong></p>
        <p class="disclaimer">Accounts listed have purchased at least one MadTree product in the last 2 months. Please call the retailer to inquire if they currently carry the product.</p>
        <p class="disclaimer">There are several accounts (ie. Dutch's, Jungle Jims, and Whole Foods) that serve for on promise consumption as well as carryout</p>
      </div>
    </section> <!-- /find-beer -->
    <section class="address-phone">
      <div class="address">
        <h5><i class="icon-map-marker"></i> Address</h5>
        <p>5164 Kennedy Ave.</p>
        <p>Cincinnati, OH 45213</p>
      </div> <!-- /address -->
      <div class="phone">
        <h5><i class="icon-phone"></i> Phone</h5>
        <p>513-836-8733</p>
      </div> <!-- /phone -->
      <div class="email">
        <h5><i class="icon-envelope"></i> Email</h5>
        <p>
        <%= link_to "Keg/Dock Sales", "mailto:docksales@madtreebrewing.com" %>
        &mdash;
        <%= link_to "Outside Sales", "mailto:sales@madtreebrewing.com" %>
        &mdash;
        <%= link_to "Taproom", "mailto:taproom@madtreebrewing.com" %>
        &mdash;
        <%= link_to "Misc", "mailto:info@madtreebrewing.com" %>
        </p>
      </div> <!-- /phone -->
    </section> <!-- /address-phone -->
  </section> <!-- /find-madtree -->

  <section class="upcoming-events">
    <div class="event-contact">
      <h4>Interested in booking a <%= link_to "taproom", "/taproom" %> event? </h4> Or looking for sponsorship or charitable donation? Email <%= link_to "events@madtreebrewing.com", "mailto:events@madtreebrewing.com" %> for more information.
    </div> <!-- /event-contact -->
    <header class="section-header upcoming-header">
      <h3>Upcoming Events</h3>
    </header> <!-- /upcoming-header -->

  
    <article class="event-teaser">
      <header class="teaser-header">
        <a href="https://www.facebook.com/events/1477595329135006/"><span class="date">Monday, Mar. 17 at Noon</span> &mdash; <strong>St. Patrick's Day</strong></a>
      </header> <!-- /teaser-header -->
      <div class="teaser-body">
        <p>Happy green beer day! Well, we won't be serving any green beer, but we will have Mac the Willis Irish Red and Black Forest Milk Stout so you can get your Irish(ish) fix.</p>
      </div> <!-- /teaser-body -->
      <footer class="teaser-footer">
        <%= link_to "Read more&hellip;", "https://www.facebook.com/events/1477595329135006/" %>
      </footer> <!-- /teaser-footer -->
    </article> <!-- /event-teaser -->

    <article class="event-teaser">
      <header class="teaser-header">
        <a href="https://www.facebook.com/huitasian"><span class="date">Wednesday, Mar. 19 at 6:30pm</span> &mdash; <strong>Huit Hop Up Dinner</strong></a>
      </header> <!-- /teaser-header -->
      <div class="teaser-body">
        <p>Enjoy our weekly Hop Up dinner where we collaborate with a local restaurant to serve a unique pairing of food and beer.</p>
      </div> <!-- /teaser-body -->
      <footer class="teaser-footer">
        <%= link_to "Read more&hellip;", "https://www.facebook.com/huitasian" %>
      </footer> <!-- /teaser-footer -->
    </article> <!-- /event-teaser -->

    <article class="event-teaser">
      <header class="teaser-header">
        <a href="/taproom"><span class="date">Thursday &amp; Friday, Mar. 20&ndash;21</span> &mdash; <strong>NCAA Tournament</strong></a>
      </header> <!-- /teaser-header -->
      <div class="teaser-body">
        <p>Join us at the taproom to watch the first and second rounds of this year’s tournament. </p>
      </div> <!-- /teaser-body -->
    </article> <!-- /event-teaser -->

    <article class="event-teaser">
      <header class="teaser-header">
        <a href="http://www.mecklenburgs.net/"><span class="date">Saturday, Mar. 22 at 5:30 p.m.</span> &mdash; <strong>Mecklenburg Gardens Beer Dinner</strong></a>
      </header> <!-- /teaser-header -->
      <div class="teaser-body">
        <p>We'll be out serving your favorite MadTree beers at Mecklenburg Gardens in Clifton.</p>
      </div> <!-- /teaser-body -->
      <footer class="teaser-footer">
        <%= link_to "Read more&hellip;", "http://www.mecklenburgs.net/" %>
      </footer> <!-- /teaser-footer -->
    </article> <!-- /event-teaser -->

    <article class="event-teaser">
      <header class="teaser-header">
        <a href="https://www.facebook.com/HollerHopsandGrill"><span class="date">Saturday, Mar. 22 at 6pm</span> &mdash; <strong>Holler Hops Charity Event</strong></a>
      </header> <!-- /teaser-header -->
      <div class="teaser-body">
        <p>We'll be out serving your favorite Madtree beers at Holler Hops in &amp; Grill's charity event in Florence.</p>
      </div> <!-- /teaser-body -->
      <footer class="teaser-footer">
        <%= link_to "Read more&hellip;", "https://www.facebook.com/HollerHopsandGrill" %>
      </footer> <!-- /teaser-footer -->
    </article> <!-- /event-teaser -->

    <footer class="section-footer">
      <%= link_to "View all upcoming events", "https://www.facebook.com/MadTree/events" %>
    </footer> <!-- /section-footer -->
  </section> <!-- /upcoming-events -->
</div> <!-- /container -->

<section class="collage">
  <%= partial "partials/instagram-content" %>
</section> <!-- /collage -->

<div class="container">
  <section class="twitter-stream">
    <h4>Twitter</h4>
    <a class="twitter-timeline" width="410px" data-theme="dark"  data-chrome="nofooter noborders noheader transparent" href="https://twitter.com/MadTreeBrewing" data-widget-id="442704604644401152" >Tweets by @MadTreeBrewing</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    
  </section> <!-- /twitter-stream -->
  <%= partial 'partials/untappd' %>
</div>

<section class="madtree-photo">
  <%= image_tag "backgrounds/bg-about.png" %>
</section> <!-- /madtree-photo -->

<script id="untappd_template" type="text/x-handlebars-template">
<table class="untappd table table-striped">
  <tr class="consumed">
    <th colspan="4">Total Beers Drank</th>
  </tr>
  <tr>
    <td colspan="4" class="total">{{totalBeers}}</td>
  </tr>
  <tr class="breakdown">
    <th>This Month</th>
    <td>{{monthlyBeers}}</td>
    <th class="">This Week</th>
    <td>{{weeklyBeers}}</td>
  </tr>
  <tr class="ratings">
    <th>Brewery Rating</th>
    <td class="rating">{{breweryRating}}<span>/5</span></td>
    <th >Total Beers</th>
    <td  class="total-beer">{{beerCount}}</td>
  </tr>
  <tr>
    <th>Who's drinking</th>
    <td class="whos" colspan="3">
     {{#each whosDrinking}}
      <a href="http://untappd.com/user/{{this.user.user_name}}" target="_blank">{{this.user.user_name}}</a>
     {{/each}}
    </td>
  </tr>
</table>
</script>
