---
title: Welcome to Middleman
---

<section class="news">
  <header class="news-header">
    <h3>News &amp; Events</h3> 
  </header> <!-- /news-header -->
  <section class="news-articles">
    <% 4.times do %>
      <article class="news-article">
      <p>Aenean risus ligula, iaculis a lacus ac, mattis rhoncus tortor. Aliquam lobortis, sem a pulvinar condimentum, mi nisi varius leo, in ultricies nisl ipsum sed sapien.</p>
    </article> <!-- /news-article -->
  <% end %>
  </section>
</section> <!-- /news -->

<section class="photo-grid">
  <div class="photo-row top">
    <div class="photo-cell left">
      <%= image_tag 'home/ul-glass.png', alt: '' %>
    </div>
    <div class="photo-cell right">
      <%= image_tag 'home/ur-kettle.png', alt: '' %>
    </div>
  </div> <!-- /photo-row -->

  <div class="photo-row bottom">
    <div class="photo-cell left">
      <%= image_tag 'home/bl-tap.png', alt: '' %>
    </div>
    <div class="photo-cell right">
      <%= image_tag 'home/br-crowd.png', alt: '' %>
    </div>
  </div> <!-- /photo-row -->
</section> <!-- /photo-grid -->

<div class="cans">

      <%= image_tag 'home/img-cans.png', alt: '' %>
</div>
