---
title: Welcome to Middleman
---

<section class="news">
  <header class="news-header">
    <h3><%= link_to 'Buy MadTree at these locations', '/images/wheretofind.pdf' %></h3> 
    <ul class="social">
      <li>
        <%= link_to "<i class='icon-twitter'></i>", "http://twitter.com/madtree" %>
      </li>
      <li>
        <%= link_to "<i class='icon-facebook'></i>", "http://facebook.com/madtreebrewing" %>
      </li>
    </ul> <!-- /social -->
  </header> <!-- /news-header -->
  <section class="news-articles">
      <article class="news-article">
        <p></p>
        <div class="hours">
          <h4>Tap Room Hours</h4>
          <p><strong>WED</strong>: 4pm &ndash; 10pm</p>
          <p><strong>THURS</strong>: 4pm &ndash; 12am</p>
          <p><strong>FRI</strong>: 4pm &ndash; 1am</p>
          <p><strong>SAT</strong>: 12pm &ndash; 1am</p>
          <p><strong>SUN</strong>: 12pm &ndash; 8pm</p>
        </div>
        <h4>Address &amp; Phone Number</h4>
        <div class="address">
          <span class="">5164 Kennedy Ave.</span>
          <span>Cincinnati, OH 45213</span>
          <span>513.836.8733</span>
        </div>
    </article> <!-- /news-article -->
  </section>
</section> <!-- /news -->

<section class="photo-grid">
  <%= image_tag 'img-home.png' %>
</section> <!-- /photo-grid -->

<div class="cans">

      <%= image_tag 'home/img-cans.png', alt: '' %>
</div>
