<% content_for :page_classes do %>
  interstitial 
<% end %>

<header class="interstitial-header">
  <h1>MadTree Brewing</h1>
</header> <!-- /interstitial-header -->
<div class="interstitial-content">

  <section class="twenty-one-check">
    <h2>Are you over twenty-one?</h2>
    <div class="answers">
      <%= link_to "Yep!", "/home.html", class: "btn btn-primary" %>
      <%= link_to "Nope", "http://google.com/", class: "btn btn-primary" %>
    </div> <!-- /answers -->
  </section> <!-- /twenty-one-check -->

  <section class="brewery-info">
    <section class="hours">
      <div class="taproom-hours">
        <h3>Tap Room Hours:</h3>
        <% hours = data.hours.details %>
        <% hours.each do |hours| %>
          <% unless hours.last == "" %>
            <%= content_tag :span, "<strong>#{hours.first}</strong> #{hours.last}", class: "day" %>
          <% end %>
        <% end %>
      </div> <!-- /tapoom-hours -->
    </section> <!-- /hours -->


    <section class="location">
      <h3>Contact Information</h3>
      <div class="address">
        <h5><i class="icon-map-marker"></i> Address</h5>
        <p><%= data.contact.details.address %></p>
        <p><%= data.contact.details.city %>, <%= data.contact.details.state %> <%= data.contact.details.zipcode %></p>
      </div> <!-- /address -->
      <div class="phone">
        <h5><i class="icon-phone"></i> Phone</h5>
        <p><%= data.contact.details.phone %></p>
      </div> <!-- /phone -->

    </section> <!-- /location -->
  </section>

</div>
